.classContainer{
    width: 31.6%;
    min-height: 260px;
    text-align: center;
}

.classHeading{
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    display: block;
    color: black;
}

.classHeading__name{
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    display: block;
    color: black;
}

.classButton {
    background-color: #F16D7F;
    height: 50px;
    width: 167px;
    margin-top: 39px;
    margin-bottom: 96px;
}

.classHeading__text{
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 17px;
}
